/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* --------- Тело ---------- */

html,
body {
  background-color: #2e2e2e;
  color: #fff;
  font-family: "Raleway", Arial, "san-serif";
}
/* Блокируем прокрутку страницы при открытом меню */
body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
}

.page {
  padding: 0px 0px 0px 0px;
}
.page__section,
.footer {
  padding: 60px 30px 30px 30px;
  max-width: 1200px;
  margin: 0px auto;
}
.page__section_1 {
  background-color: #794f45;
}
.page__section_2 {
  background-color: #77608d;
}
.page__section_3 {
  background-color: #7a956b;
}
.page__section_4 {
  background-color: #4e2acf;
}
.page__section_5 {
  background-color: #a3cf2a;
}

.page__title {
  font-size: 40px;
  margin: 0px 0px 20px 0px;
  text-align: center;
}
.page__text {
  font-size: 16px;
  line-height: 150%;
}
.page__text p {
  margin: 0px 0px 20px 0px;
}
.page__sub-title {
  font-size: 30px;
  margin: 0px 0px 20px 0px;
  text-align: center;
}

/* --------- Шапка с меню ---------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #3b5998;
}
.header__container {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  padding: 0px 20px;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
}
.header__logo {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo {
  width: 55px;
  margin: 0px 10px 0px 0px;
}
.nav__text {
  font-size: 24px;
}

/* Меню бургер */
.menu__icon {
  display: none;
}
.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 20px;
}
.menu__link {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}
.menu__link:hover {
  text-decoration: underline;
}

/* --------- Подменю на ПК и Мобильном ---------- */

body._touch .menu__list > li {
  display: flex;
  align-items: center;
}

body._touch .menu__link {
  flex: 1 1 auto;
}

/* --------- От 767px ---------- */

@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
  .menu__sub-list {
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
  }
  /* Стилизация формы */
  .form {
    min-width: 50vw;
  }
  .menu__footer > .menu__list {
    display: flex;
    justify-content: space-between;
    width: 760px;
  }
}
@media (max-width: 767px) {
  hr {
    display: block;
    border-style: inset;
    border-width: 1px;
    width: 100%;
    color: #fff;
  }
  .menu__footer > .menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Меню бургер */
  /* Иконка */
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  /* Анимация иконки меню */
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  /* Тело меню */
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    padding: 70px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    height: 50px;
    background-color: #3b5998;
    z-index: 2;
    transition: left 0.3s ease 0s;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    left: 0;
  }
  /* body._lock .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    background-color: #ff5d4c;
    z-index: 2; 
  } */

  .menu__list > li {
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0px;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__link {
    font-size: 24px;
  }
  /* Подменю */
  .menu__sub-list {
    position: relative;
    background-color: #fff;
    flex: 1 1 100%;
    margin: 20px 0px 0px 0px;
    display: none;
  }
  .menu__sub-link {
    font-size: 20px;
    color: #000;
  }
  /* Стилизация формы */
  .form {
    min-width: 80vw;
  }
}

#navbar {
  transition: all 0.3s ease 0s;
}

/* -------------------------------------------------------------------- */

/* Modal window */
.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  background-color: rgb(150, 150, 150);
  padding: 0.5rem 1rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.3s;
  color: #000;
  border-radius: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.3s;
}

.modal__header {
  font-size: 1.5rem;
  line-height: 1.2;
}

.btn--close-modal-window {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.1rem;
  right: 0.3rem;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* Стилизация формы */
.form {
  /* min-width: 50vw; */
  margin: 0px auto;
  color: #000;
  padding: 7px 0;
}

/* Поля и заголовки формы */
.form__title {
  font-size: 24px;
  font-weight: 700;
  margin: 5px 0px 10px 0px;
  text-align: center;
}
.form__sub-title {
  text-align: center;
  margin: 0px 0px 10px 0px;
}
.form__item {
  margin: 0px 0px 10px 0px;
}
.form__label {
  font-size: 18px;
  display: block;
  margin: 0px 0px 10px 0px;
}
.form__input {
  height: 50px;
  padding: 0px 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  transition: box-shadow 0.3s ease 0s;
}

/* Стилизация textarea */
textarea.form__input {
  min-height: 90px;
  resize: vertical;
  padding: 10px;
}

/* Кнопка Отправить */
#my-form-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  background-color: #3b5998;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 2px 5px 5px #161b13;
  transition: all 0.3s ease 0s;
  position: relative;
  top: 0;
}
#my-form-button:hover {
  background-color: #4771ce;
}
#my-form-button:active {
  top: 3px;
  box-shadow: 0px 2px 2px #161b13;
}

#my-form-status {
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  margin: 20px 0px 0px 0px;
}

/* Подвал */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: rgb(37, 37, 37);
}
.footer__copyright {
  text-align: center;
  font-size: 1.2rem;
}
.footer__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.footer__compani {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer__logo {
  width: 200px;
}
/* Контакты */
.contacts__item {
  display: flex;
  gap: 4px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer__social {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.footer__social img {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease 0s;
}
.footer__social img:hover {
  width: 36px;
  height: 36px;
}
.footer__tel {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
}
.footer__tel a {
  color: #fff;
}
.footer__tel a:hover {
  text-decoration: underline;
}

/* Главный экран */
#text {
  /* text-align: left; */
  font-size: 51px;
  line-height: 66px;
  height: 66px;
  padding: 10px 20px 0px 20px;
  color: #fff;
  font-weight: 500;
}
.under-header .main-heading span {
  font-size: 70px;
  font-weight: 500;
  line-height: 78px;
  color: #fff;
}
.subtitle h1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  margin: 20px 0px 20px 0px;
}
.text-center {
  text-align: center;
}

.under-header {
  padding-top: 0;
  overflow: hidden;
  position: relative;
  /* background: url("../img/bg/digital-wave-bg.jpg"); */
  background-position: bottom;
  background-size: 100%;
  /* background-color: #000; */
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-heading {
  padding: 0px 20px 0px 20px;
}

@media (max-width: 1200px) {
  .under-header .main-heading span {
    font-size: 51px;
    line-height: 66px;
  }
  #text {
    font-size: 51px;
    line-height: 66px;
    height: 66px;
  }
  .subtitle h1 {
    font-size: 30px;
    line-height: 36px;
  }
}
@media (max-width: 767px) {
  .under-header .main-heading span {
    font-size: 36px;
    line-height: 39px;
  }
  #text {
    font-size: 36px;
    line-height: 39px;
    height: 39px;
  }
  .subtitle h1 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
  }
}
@media (max-width: 450px) {
  .under-header .main-heading span {
    font-size: 26px;
    line-height: 34px;
  }
  #text {
    font-size: 26px;
    line-height: 34px;
    height: 34px;
  }
  .subtitle h1 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
  }
}

.video-bg {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.video-bg video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.effects {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
.video-bg__content {
  z-index: 2;
  color: #ffffff;
  font-size: 50px;
}
