:root {
  --color-footer: rgb(37, 37, 37);
  --gray-footer: #e2e2e2;
  --gold: #c6a57a;
  --bg: #1d1d1d;
  --bg2: #202020;
  --gray: #747474;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* --------- Тело ---------- */

html,
body {
  background-color: #fff;
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* Блокируем прокрутку страницы при открытом меню */
body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  margin: 0px auto;
}

.wave-btn {
  width: 280px;
  height: 60px;
  display: flex;
  overflow: hidden;
  position: relative;
  transition: all 0.8s ease 0s;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  margin: 10px auto;
}
.wave-btn__text {
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: calc(16px + 2 * ((100vw - 320px) / (1200 - 320)));
  position: relative;
  z-index: 1;
}
.wave-btn__waves {
  position: absolute;
  width: 280px;
  height: 280px;
  background-color: rgb(255, 215, 0);
  top: 0;
  left: 0;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: all 0.8s ease 0s;
}
.wave-btn__waves:after,
.wave-btn__waves:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 280%;
  height: 280%;
  transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.wave-btn__waves:before {
  background-color: rgb(0, 87, 184);
  border-radius: 48%;
  animation: waves 5s infinite linear;
}
.wave-btn__waves:after {
  background-color: rgba(0, 87, 184, 0.5);
  border-radius: 44%;
  animation: waves 10s infinite linear;
}

@keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}

.page {
  padding: 0px 0px 0px 0px;
}
.page__section {
  padding: 0px 0px 0px 0px;
}

.footer {
  padding: 30px 30px 30px 30px;
}
.yellow__bg {
  background-color: var(--gold);
}
.blue__title {
  background-color: var(--bg);
  color: #fff;
}
.page__title {
  font-size: calc(24px + 10 * ((100vw - 320px) / (1280 - 320)));
  font-weight: 500;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
}
.page__wrapper-1200 {
  font-size: calc(16px + 6 * ((100vw - 320px) / (1280 - 320)));
  line-height: 150%;
  max-width: 1200px;
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* --------- Шапка с меню ---------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--bg2);
}
.header__container {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  padding: 0px 20px;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
}
.header__logo {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
}
#logo {
  width: 32px;
  margin: 0px;
}
.nav__text {
  z-index: 5;
  font-size: calc(22px + 2 * ((100vw - 320px) / (1200 - 320)));
  display: flex;
  justify-content: center;
}
.nav__text a {
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  top: 2px;
}
/* Меню бургер */
.menu__icon {
  display: none;
}
.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 20px;
}
.menu__link {
  color: #fff;
  font-size: calc(18px + 2 * ((100vw - 320px) / (1200 - 320)));
  font-weight: 500;
  line-height: 20px;
}
.menu__link:hover {
  text-decoration: underline;
  color: var(--gold);
}

/* --------- Подменю на ПК и Мобильном ---------- */

body._touch .menu__list > li {
  display: flex;
  align-items: center;
}

body._touch .menu__link {
  flex: 1 1 auto;
}

/* --------- От 767px ---------- */

@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
  .menu__sub-list {
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
  }
  /* Стилизация формы */
  .form {
    min-width: 50vw;
  }
  .menu__footer > .menu__list {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  hr {
    display: block;
    border-style: inset;
    border-width: 1px;
    width: 100%;
    color: var(--gray-footer);
  }
  /* Меню бургер */
  /* Иконка */
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin-left: 22px;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--gold);
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  /* Анимация иконки меню */
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  /* Тело меню */
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    padding: 70px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    height: 50px;
    background-color: var(--bg2);
    z-index: 2;
    transition: left 0.3s ease 0s;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    left: 0;
  }
  .menu__list > li {
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0px;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__link {
    font-size: calc(24px + 2 * ((100vw - 320px) / (1200 - 320)));
  }
  /* Подменю */
  .menu__sub-list {
    position: relative;
    background-color: #fff;
    flex: 1 1 100%;
    margin: 20px 0px 0px 0px;
    display: none;
  }
  .menu__sub-link {
    font-size: calc(20px + 2 * ((100vw - 320px) / (1200 - 320)));
    color: #000;
  }
  /* Стилизация формы */
  .form {
    min-width: 80vw;
  }
}

#navbar {
  transition: all 0.3s ease 0s;
}

/* -------------------------------------------------------------------- */

/* Modal window */
.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  max-width: 90vw;
  background-color: rgba(189, 157, 116, 0.8);
  padding: 0.5rem 1rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.6s ease 0s;
  color: #000;
  border-radius: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.3s ease 0s;
}

.modal__header {
  font-size: calc(18px + 6 * ((100vw - 320px) / (1200 - 320)));
  line-height: 1.2;
  padding: 15px 0px 5px 5px;
  color: #fff;
}

.btn--close-modal-window {
  font-family: inherit;
  color: #fff;
  position: absolute;
  top: 0rem;
  right: 0.4rem;
  font-size: 2.5rem;
  cursor: pointer;
  border: none;
  background: none;
}
.scale {
  transform: scale(0);
  transition: transform 0.6s ease 0s;
}
.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}

/* Стилизация формы */
.form {
  margin: 0px auto;
  color: #000;
  padding: 7px 0;
}

/* Поля и заголовки формы */
.form__title {
  font-size: 24px;
  font-weight: 700;
  margin: 5px 0px 10px 0px;
  text-align: center;
}
.form__sub-title {
  text-align: center;
  margin: 0px 0px 10px 0px;
}
.form__item {
  margin: 0px 0px 15px 0px;
}
.form__input {
  height: 50px;
  padding: 0px 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  transition: box-shadow 0.3s ease 0s;
}

/* Стилизация textarea */
textarea.form__input {
  min-height: 90px;
  resize: vertical;
  padding: 10px;
}

/* Кнопка Отправить */
.my-form-button {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  min-height: 40px;
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #161b13;
  transition: background-color 0.3s ease 0s;
}
.my-form-button:hover {
  background-color: var(--gray-footer);
  transform: translateY(4%);
}
.my-form-button:active {
  top: 3px;
  box-shadow: 0px 2px 2px #161b13;
}

#my-form-status {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0px 0px 0px;
}

/* Подвал */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color: rgb(37, 37, 37);
  color: #fff;
  max-width: 1200px;
  margin: 0px auto;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* Контакты */
.contacts__item {
  display: flex;
  gap: 4px;
  color: var(--gray-footer);
  font-size: calc(14px + 2 * ((100vw - 320px) / (1200 - 320)));
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 30px 0px 16px 0px;
}
.footer__social {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.footer__social a {
  transition: all 0.3s ease 0s;
}
.footer__social a svg:hover {
  color: var(--gold);
}
.footer__tel {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: calc(24px + 2 * ((100vw - 320px) / (1200 - 320)));
  line-height: 30px;
  margin: 10px 20px 20px 20px;
}
.footer__tel a {
  color: #fff;
}
.footer__tel a:hover {
  text-decoration: underline;
  color: var(--gold);
}

/* Главный экран */
.under-header {
  height: 100vh;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 44px 20px 1px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.under-header::-webkit-scrollbar {
  width: 0;
}
.under-header h1._anim-items {
  font-size: calc(22px + 6 * ((100vw - 320px) / (1200 - 320)));
  line-height: 1;
  font-weight: 400;
  padding: 15px 10px 10px 10px;
  background-color: var(--gold);
  border-radius: 10px;
  margin: 0 auto;
  animation: down 2s forwards;
}
@keyframes down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes up {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

.bg-container {
  max-width: 600px;
  margin: 0 auto;
}
.bg-container::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 16px solid #000;
  bottom: 10px;
  left: 50%;
  z-index: 2;
  animation: upDown 2s infinite;
  opacity: 0.8;
}
.under-header img {
  animation: up 4s forwards;
  width: auto;
  max-width: 100%;
  display: block;
}
.text-center {
  text-align: center;
}
#cursor {
  animation: blink 0.6s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes upDown {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 30px;
  }
  100% {
    bottom: 0px;
  }
}
#text,
#cursor {
  font-size: calc(30px + 12 * ((100vw - 320px) / (1200 - 320)));
  line-height: 1.2;
  font-weight: 500;
}

/* Раздел адаптива */
.blue {
  color: rgb(0, 87, 184);
}
.adaptive {
  display: flex;
  flex-direction: column;
  padding: 26px 0px 26px 0px;
  overflow: hidden;
}
.adaptive__colums {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.adaptive__items {
  display: flex;
  align-items: center;
  flex: 0 1 49%;
  margin: 20px 0px 20px 0px;
}
.adaptive__img img {
  width: 80px;
  height: 80px;
  margin-left: 20px;
}
.adaptive__item {
  padding: 20px 0px 20px 20px;
}
.adaptive__title {
  font-weight: 500;
  font-size: calc(18px + 4 * ((100vw - 320px) / (1200 - 320)));
}
.adaptive__text {
  font-size: calc(16px + 4 * ((100vw - 320px) / (1200 - 320)));
  line-height: 140%;
  padding-top: 8px;
  color: #747474;
}
.ul {
  text-align: left;
  margin-top: 10px;
}
.li {
  position: relative;
  padding-left: 20px;
}
.li::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: calc(9px + 3 * ((100vw - 320px) / (1200 - 320)));
  left: 5px;
  background-color: #c6a57a;
  border-radius: 50%;
}
.serv_link {
  padding-top: 1px;
}
.serv__text {
  font-size: calc(16px + 2 * ((100vw - 320px) / (1200 - 320)));
  line-height: 160%;
  color: #171717;
}
.hrb {
  margin: 0px 0px 80px 0px;
  padding: 40px 0px 40px 0px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fakt {
  position: relative;
  top: 18px;
  padding: 3px 10px 3px 10px;
  color: #fff;
  background-color: #000;
}
.copyright {
  color: var(--gray-footer);
}
.form__subtitle {
  color: var(--gray-footer);
  margin-bottom: 15px;
  line-height: 1.4;
  padding: 0px 5px 0px 5px;
  font-size: calc(14px + 2 * ((100vw - 320px) / (1200 - 320)));
}
.form-bg {
  background-color: var(--gold);
  border-radius: 5px;
  padding: 0px 15px 15px 15px;
  max-width: 600px;
  width: 100%;
}

/* Цитаты */

.cite {
  padding: 10px 0px 10px 20px;
  margin: 0px auto;
  background-color: var(--gray-footer);
  max-width: 1200px;
  overflow: hidden;
}
.cite__text {
  font-size: calc(22px + 6 * ((100vw - 320px) / (1200 - 320)));
  line-height: 1.5;
  font-weight: 600;
  color: #303030;
  padding: 0px 10px 0px 10px;
  transform: translate(-20%, 0px);
  transition: all 2s ease 0s;
}
.cite__img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 10px 20px 0px;
  transform: translate(20%, 0px);
  transition: all 2s ease 0s;
}
.cite__img-text {
  font-size: calc(20px + 6 * ((100vw - 320px) / (1200 - 320)));
  padding: 0px 10px 0px 10px;
  font-weight: 700;
  color: var(--gold);
}
.shadow {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease 0s;
}
.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.btn {
  width: fit-content;
  padding: 0px 20px 0px 20px;
  position: absolute;
  top: 30%;
  left: 1%;
}
/* Анимация при скроле */
.anim-right {
  transform: translate(20%, 0px);
  transition: all 2s ease 0s;
  opacity: 0;
}
.anim-left {
  transform: translate(-20%, 0px);
  transition: all 2s ease 0s;
  opacity: 0;
}
.anim-top {
  transform: translate(0px, -30%);
  transition: all 2s ease 0s;
  opacity: 0;
}
.anim-bottom {
  transform: translate(0px, 120%);
  transition: all 2s ease 0s;
  opacity: 0;
}
._anim {
  transform: translate(0px, 0px);
  opacity: 1;
}

/* Spollers */
.spoller {
  margin: 20px 0px 30px 0px;
}
.spoller__item {
  margin: 0px 0px 0px 0px;
}
.spoller__title {
  width: 100%;
  text-align: left;
  font-size: calc(15px + 2 * ((100vw - 320px) / (1200 - 320)));
  background-color: #fff;
  color: var(--bg2);
  padding: 10px;
  position: relative;
  font-weight: 700;
}
.spoller._init .spoller__title {
  cursor: pointer;
}
.spoller._init .spoller__title {
  padding: 10px 40px 10px 10px;
}
.spoller._init .spoller__title::before,
.spoller._init .spoller__title::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: var(--gold);
  position: absolute;
  right: 10px;
  top: 20px;
  transition: transform 0.3s ease 0s;
}
.spoller._init .spoller__title::after {
  transform: rotate(-90deg);
}
.spoller._init .spoller__title._activ::after {
  transform: rotate(0deg);
}
.spoller__body {
  padding: 15px;
  font-size: calc(16px + 2 * ((100vw - 320px) / (1200 - 320)));
  line-height: 130%;
  color: var(--gray);
}
.spoller__item {
  /* border: 2px solid var(--gray-footer); */
  border-bottom: 2px solid var(--gold);
}

/* Services */
.services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0px 40px 0px;
  padding-top: 50px;
}
.services__img img {
  width: 100%;
  object-fit: cover;
}
.services__body {
  padding: 10px;
  width: 100%;
  max-width: 420px;
  margin-bottom: 20px;
  margin-left: 15px;
  align-self: center;
}
.services__title {
  font-weight: 900;
  font-size: calc(12px + 2 * ((100vw - 320px) / (1200 - 320)));
  line-height: 160%;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #c6a57a;
  margin-bottom: 15px;
}
.services__subtitle {
  font-weight: 700;
  font-size: calc(28px + 8 * ((100vw - 320px) / (1200 - 320)));
  line-height: 40px;
  margin-bottom: 15px;
}
.services__text {
  font-size: calc(16px + 2 * ((100vw - 320px) / (1200 - 320)));
  line-height: 160%;
  color: #171717;
  padding-left: 23px;
  position: relative;
  max-width: 320px;
  border-left: 2px solid #c6a57a;
}
.margin-vert {
  margin-top: 60px;
  margin-bottom: 60px;
}
.padding-vert {
  padding-top: 60px;
  padding-bottom: 60px;
}
.gray_w-bg {
  background-color: var(--gray-footer);
  padding: 10px 10px 10px 20px;
}
.gray_d-bg {
  background-color: var(--gray);
}

/* portfolio */
.portfolio {
  background: var(--bg2);
}
.portfolio__container {
  padding: 100px 20px 0px 20px;
}
.portfolio__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.portfolio__side_left {
  width: 46%;
}
.portfolio__side_right {
  width: 46%;
}
.portfolio__item .portfolio__photo {
  overflow: hidden;
}
.portfolio__photo img {
  width: 100%;
  object-fit: cover;
  transition: scale 0.8s ease 0s;
}
.portfolio__photo img:hover {
  scale: 1.1;
  transition: scale 0.8s ease 0s;
}
.portfolio__about {
  margin: 32px 0px 0px 50px;
}
.portfolio__item {
  margin-bottom: 90px;
}
.portfolio__link {
  color: var(--gold);
  position: relative;
  top: 15px;
}
.portfolio__link:hover {
  color: var(--gray-footer);
}
/*  */
.fsb {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}
.sb1 {
  padding: 30px;
}
.sb1 p {
  padding-top: 16px;
  color: var(--gold);
  font-size: calc(18px + 4 * ((100vw - 320px) / (1200 - 320)));
  line-height: 150%;
}

/* Color */
.white {
  color: #fff;
}
.gold {
  color: var(--gold);
}
.black {
  color: #000;
}
.gray {
  color: #747474;
}
.gray-w {
  color: #d1d1d1;
}
/*  */
.tehnologi {
  background: #202020;
  padding-top: 60px;
  padding-bottom: 30px;
}
.tehnologi__container {
  background: #202020 url(../img/bg/tech-bg.png.webp) no-repeat;
  background-size: 46%;
  background-position: left bottom;
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
}
.tehnologi__block {
  display: flex;
}
.tehnologi__left {
  padding: 30px;
}
.tehnologi__right {
  padding: 0px 20px 0px 20px;
}
.tehnologi__block {
  margin-bottom: 20px;
}
.right__num {
  font-weight: 900;
}
.bbg {
  padding: 0px 0px 3px 0px;
  border-bottom: 3px solid #c6a57a;
  margin-right: 20px;
}
/*  */
.faq {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.faq__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq__img img {
  max-width: 400px;
  width: 100%;
}

/*  */
.adaptive__padding {
  padding: 16px 0px 16px 0px;
}
.padding__left {
  padding-left: 30px;
}
/*  */
.cost {
  background: var(--bg2);
}
.cost-wrapper {
  background-image: url(../img/bg/cost-bg2.png.webp);
  background-size: 53%;
  background-repeat: no-repeat;
  background-position: right 10% top;
}
.cost__content {
  max-width: 550px;
}
.cost-section {
  display: flex;
  flex-direction: column;
}
.cost__item-1 {
  align-self: flex-end;
}
.cost__item-2 {
  align-self: center;
}
.sub-title {
  margin-top: 16px;
}
/* СМЕНА ЯЗЫКА */
.menu__arrow {
  display: none;
}
body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0px 0px 0px 5px;
  transition: transform 0.3s ease 0s;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #fff;
}
body._touch .menu__list > li._active .menu__arrow {
  transform: rotate(-180deg);
}
.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--bg2);
  padding: 15px;
  min-width: 20px;
}
.menu__sub-list li {
  margin: 0px 0px 10px 0px;
}
.menu__sub-list li:last-child {
  margin: 0;
}
.menu__sub-link {
  color: #fff;
}

.menu__sub-link:hover {
  text-decoration: underline;
  color: var(--gold);
}
body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}
body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}
@media screen and (max-width: 960px) {
  .adaptive__colums {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .cost-wrapper {
    background-position: right 0% top;
  }
  .portfolio__wrap {
    flex-direction: column;
  }
  .portfolio__side_left,
  .portfolio__side_right {
    width: 100%;
  }
  .portfolio__container {
    padding: 30px 0px 30px 0px;
  }
  .portfolio__item {
    margin-bottom: 40px;
  }
  .portfolio__about {
    margin: 32px 0px 0px 0px;
  }
  .faq {
    display: block;
  }
  .services {
    flex-direction: column-reverse;
  }
  .services__body {
    margin-left: 0;
    margin-bottom: 36px;
  }
  .services__img {
    padding: 0;
  }
  .fsb {
    flex-direction: column;
  }
  .sb1 {
    padding: 0;
  }
  .tehnologi {
    padding-top: 30px;
  }
  .tehnologi__container {
    background: #202020;
    display: block;
  }
}
@media (max-width: 450px) {
  .cost-wrapper {
    background-size: 90%;
    background-position: right -20% top 3%;
  }
  .adaptive__items {
    flex-direction: column;
  }
  .adaptive__item {
    text-align: center;
    padding: 10px 10px 10px 10px;
  }
  .adaptive__img img {
    width: 120px;
    height: 120px;
  }
  .btn {
    top: 82%;
    left: 1%;
  }
}
